<mat-toolbar class="navbar" role="heading">
  <span>My Flix</span>
  <button class="nav-icon-button" mat-icon-button (click)="openMovieList()" matTooltip="Movie List" aria-label="icon button for movies">
    <mat-icon>movie_creation</mat-icon>
  </button>
  <button class="nav-icon-button" mat-icon-button (click)="openProfile()" matTooltip="Profile Page" aria-label="icon button for profile">
    <mat-icon>person_outline</mat-icon>
  </button>
  <button class="nav-icon-button" mat-icon-button (click)="logoutUser()" matTooltip="Logout" aria-label="icon button for logout">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>
