<app-navbar></app-navbar>
<div style="display: flex;">
  <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto;">
    <mat-card-header class="card-header">
      <mat-card-title class="card-title">{{movie.Title}}</mat-card-title>
      <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
    </mat-card-header>
    <div class="img-container">
      <img mat-card-image src={{movie.ImagePath}} alt={{movie.Title}} />
    </div>
      <mat-card-actions>
        <button
            mat-button
            color="primary"
            (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)"
        >
          Genre
        </button>
        <button
            mat-button
            color="primary"
            (click)="openDirectorDialog(movie.Director.Name, movie.Director.Bio,movie.Director.Birth,movie.Director.Death)"
        >
          Director
        </button>
        <button
            mat-button
            color="primary"
            (click)="openMovieDetailsDialog(movie.Description)"
        >
          Synopsis
        </button>
        <button
          mat-icon-button
          (click)="isFavoriteMovie(movie._id) ? removeFavoriteMovies(movie._id) : addToFavorites(movie._id)"
          [ngClass]="isFavoriteMovie(movie._id) ? 'mat-flat-button' : 'mat-icon-button'">
          <mat-icon>{{ isFavoriteMovie(movie._id) ? 'favorite' : 'favorite_border' }}</mat-icon>
        </button>
      </mat-card-actions>
  </mat-card>
</div>